* {
  font-family: 'Covered By Your Grace', sans-serif;
}

body {
  background-color: #FC9D9A;
/*  background-image: url("../images/PinkDonuts.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;*/}

.divWithBg {
  background: url("../images/PinkDonuts.png");
  background-size: 100%;
  width: 900px;
  height: 600px;
  background-repeat: no-repeat;
  /*background-size: cover;*/}

.heading {
  position: relative;
  top: 30px;
  left: 255px;
  margin-bottom: 5px;
  width: 630px;
  right: 10px;
  color: #FC9D9A;
  font-size: 300%;
  background-color: #C8C8A9;
  border-radius: 10px;
  text-align: center;
  z-index: 10;
  opacity: 0.9;}

#fairy {
  position: fixed;
  /*top: 100px;*/
  width: 80px;
  height: auto;
  opacity: 0.7;
}

img#firstEgg {position: absolute;
  top: 70px;
  left: 240px;
  transition: top 2s cubic-bezier(0.755, 0.05, 0.855, 0.06);}

img#firstEgg.animated {
  top: 300px;}

img#secondEgg {position: absolute;
  top: 65px;
  left: 130px;
  transition: top 2s cubic-bezier(0.755, 0.05, 0.855, 0.06);}

img#secondEgg.animated {
  top: 470px;}

img#thirdEgg {position: absolute;
  top: 70px;
  left: 170px;
  transition: top 2s cubic-bezier(0.755, 0.05, 0.855, 0.06);}

img#thirdEgg.animated {
  top: 300px;}

img#fourthEgg {position: absolute;
  top: 70px;
  left: 150px;
  transition: top 2s cubic-bezier(0.755, 0.05, 0.855, 0.06);}

img#fourthEgg.animated {
  top: 320px;}

table {
  margin-top: 50px;
  margin-right: 20px;
  float: right;
  background-color: #83AF9B;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 130%;
  opacity: 0.7;}

thead {border: none;}
tr {border: none;}

tbody {
  text-align: left;
  border: none;}

td {
  padding: 2px;
  text-align: right;
  border: none;}

form{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
 /* clear: right;*/
/*  position: absolute;
  right: 10px;
  bottom: 20px;*/
  background-color: #C8C8A9;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.7;}

input {
  background-color: #FC9D9A;
  color: white;
  font-size: 120%;
  opacity: 0.5;}

label {
  color: #FE4365;
  font-size: 150%;
  display: inline-block;
  width: 230px;}

form button {
/*  position: absolute;
  bottom: 25px;
  right: 75px;*/
  background-color: #83AF9B;
  border-radius: 10px;
  font-size: 108%;
  color: #FE4365;
  opacity: 1.0 !important;}



#lowerdiv {
  position: relative;
  top: -20px;
  background-color: #FE4365;
  width: 900px;
  height: 200px;
  margin-top: 0px;
}

.basetextdiv {
  float: left;
  display: inline;
  width: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  height: 100%;
  color: white;
  font-size: 120%;
}

.lowertitles {
  /*margin-top: 10px;*/
  font-size: 150%;
  text-align: center;
  color: #83AF9B;
}

.basetextp {
  margin-top: 10px;
  font-size: 90%;
  text-align: justify;
  color: #C8C8A9;
}



